<!DOCTYPE html>
<html>
<head>
<title>Session</title>
<link rel="stylesheet" href="/css/table.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script src="/js/controllers/sessionSpecController.js"></script>
<body ng-app="myApp" ng-controller="sessionSpecController">
<h1 style="text-align: center"> Session </h1>
Name: 
Email:
Phone Number:
</body>
</html>